<nav class="site-navigation text-center " role="navigation">

    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block mb-0">
        <li class="active"><a href="{% url 'index' %}">Homepage</a></li>
        <li><a href="category.html">Lifestyle</a></li>
        <li class="has-children">
            <a href="category.html">Inspiration</a>
            <ul class="dropdown">
                <li><a href="category.html">Architect</a></li>
                <li><a href="category.html">Minimal</a></li>
                <li><a href="category.html">Interior</a></li>
                <li><a href="category.html">Furniture</a></li>
            </ul>
        </li>
        <li><a href="category.html">Technology</a></li>
        <li><a href="category.html">Latest</a></li>
    </ul>
</nav>